.mat-toolbar{
    display:flex;
    justify-content: center;
    color:#81b700;
.menu{
    display: flex;
}
.menu > div{
    margin: 10px;
    display:flex;
    a{
        font-size: 24px;
        color:#81b700;
    }
   
}


}
::ng-deep .mat-icon{
    font-size: 32px !important;
    width: 50px;
}
