<mat-toolbar color="primary">
    <h1 i18n>My Application</h1>
    <button mat-button routerLink="/home" i18n>Home</button>
    <button mat-button routerLink="/category-management/list-category">category-management</button>
    <button mat-button routerLink="/category-management/list-category">ng-if</button>
    <button mat-button routerLink="/category-management/list-category">ng-ngfor</button>
    <button mat-button routerLink="/category-management/list-category">ng-style</button>
    <button mat-button routerLink="/category-management/list-category">ng-class</button>
    <button mat-button routerLink="/category-management/list-category">ng-switch-case</button>
    <button mat-button routerLink="/category-management/list-category">Input</button>
    <button mat-button routerLink="/category-management/list-category">Output</button>
    <button mat-button routerLink="/category-management/list-category">Attribute</button>
    <button mat-button routerLink="/category-management/list-category">Property</button>
</mat-toolbar>