<mat-toolbar>
    <div class="menu">
        <div>
            <mat-icon svgIcon="icon_vnpt_home"></mat-icon>
            <a routerLink="/home">Trang chủ</a>
        </div>
        <div><a mat-a routerLink="/category-management/list-category">Giới thiệu</a></div>
        <div><a mat-a routerLink="/category-management/list-category">Danh sách sản phẩm</a></div>
        <div>
            <mat-icon svgIcon="icon_vnpt_phone"></mat-icon>
            <a mat-a routerLink="/category-management/list-category">Liên lạc</a>
        </div>
        <div>
            <mat-icon svgIcon="icon_vnpt_card"></mat-icon>
            <a mat-a routerLink="/home/add-card">Giỏ hàng</a>
        </div>
    </div>

</mat-toolbar>