<div class="header">
    <div class="tieudelon">
        <div class="tieudetrai">
            <div class="iconleft">
                <mat-icon svgIcon="icon_vnpt_phone"></mat-icon>

                <span> 0888175114</span> &nbsp;
            </div>
            <div class="iconleft1">
                <mat-icon svgIcon="icon_vnpt_email"></mat-icon>
                <span>Email:tleduc@gmail.com</span>
            </div>

        </div>
        <div class="tieudephai">
            <div class="iconright">
                <mat-icon svgIcon="icon_vnpt_person"></mat-icon>
                <span mat-a routerLink="/account/list-account/sigin">Đăng nhập</span> &nbsp;
            </div>
            <div class="iconright1">
                <mat-icon svgIcon="icon_vnpt_person"></mat-icon>
                <span mat-a routerLink="/account/list-account/sigup" >Đăng kí</span>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="dad">
            <div class="logo1">
                Organic Food
            </div>
            <div class="sergh">
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline" class="input-1-3-width">
                        <mat-label class="color-defaut">Tìm Kiếm</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
              
            </div>
        </div>

    </div>


    <app-default-layout-nav></app-default-layout-nav>
</div>