.cart {
    background-color: #fff;  
    margin: 0px auto;
    width: 100%;
    height: 500;
    h1 {
        color:#eb8401;
        font-size: 40px;
        justify-content: center;
        display: flex;
        margin-top: 10px;
    
    }
    table {
        width: 100% !important ;
      }
 
        
    }

